.background-dark-green{
    background-color: rgb(0, 0, 0);
}

.background-light-green{
    background-color: rgb(0, 0, 0);
}

.background-dark-blue{
    background-color: rgb(3, 90, 141);
}

.background-light-blue{
    background-color: rgb(14, 169, 230);
}

.background-dark-red{
    background-color: rgb(139, 1, 1);
}

.background-light-red{
    background-color: rgb(224, 8, 8);
}