.border-light-green{
    border: solid 2px rgb(0, 0, 0);
}

.border-dark-green{
    border: solid 2px rgb(5, 5, 5);
}

.border-light-blue{
    border: solid 2px rgb(10, 199, 183);
}

.border-dark-blue{
    border: solid 2px rgb(3, 109, 100);
}

.border-light-red{
    border: solid 2px rgb(221, 6, 6);
}

.border-dark-red{
    border: solid 2px rgb(131, 4, 4);
}

.border-light-gray{
    border: solid 2px rgb(170, 170, 170);
}

.border-dark-gray{
    border: solid 2px rgb(78, 78, 78);
}